@charset "UTF-8";

body {
    background-color: mediumpurple;
}

#knapp {
    margin-left: 300px;
    margin-top: 150px;
    width: 200px;
    height: 100px;
    border-radius: 20%;
    background-color: orange;
}