@charset "UTF-8";

body {
    background-color: mediumpurple;
}

#knapp1 {
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    border-radius: 20%;
    background-color: orange;
}
#knapp2 {
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    border-radius: 20%;
    background-color: orange;
}
#knapp3 {
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    border-radius: 20%;
    background-color: orange;
}